<div class="button-container">
  <button mat-raised-button color="primary" style="width: 100%; border-radius: 2px; background-color: green;"
    (click)="irParaNewVenda()">
    <mat-icon>add</mat-icon>
    Adicionar Vendas
  </button>
</div>
<table class="tabela-vendas">
  <thead>
    <tr>
      <th>ID</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Cliente</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    @for(venda of Vendas; track venda.id){
    <tr>
      <td>{{ venda.id }}</td>
      <td>{{ venda.data }}</td>
      <td>{{ venda.valor}}</td>
      <td>{{ venda.cliente }}</td>
      <td><button mat-icon-button (click)="editarVenda(venda.id)">
          <mat-icon>edit</mat-icon>
        </button></td>

    </tr>
    }

  </tbody>
</table>
