.tabela-vendas {
  background-color: #b0b5cc;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabela-vendas th, .tabela-vendas td {
  border: 1px solid #5f5e5e;
  padding: 8px;
  text-align: left;
}

.tabela-vendas th {
  background-color: #f2f2f2;
}

.tabela-vendas mat-icon-button {
  color: #757575; /* Cor mais suave para os ícones */
  margin: 0 5px; /* Espaçamento ao redor dos ícones */
}

.tabela-vendas mat-icon-button:hover {
  color: #333; /* Cor um pouco mais escura ao passar o mouse */
}
table {
  width: 100%;
}
