<mat-toolbar class="bg-primary-500 flex items-center w-full" color="primary">
  <!-- Botão de Menu -->
  <button 
    mat-icon-button 
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="visibleSidebar1 = true">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Botão de Home -->
  <button 
    mat-icon-button 
    class="example-icon ml-2"
    aria-label="Example icon-button with home icon"
    (click)="irParaHome()">
    <mat-icon>home</mat-icon>
  </button>

  <!-- Flex para centralizar os ícones à direita -->
  <span class="flex-grow"></span>

  <!-- Ícone de Carrinho com Preço Total -->
  <div class="flex items-center space-x-2">
    <button mat-icon-button (click)="irParaCarrinho()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <span class="text-white font-semibold">R$ {{ totalCarrinho | number: '1.2-2' }}</span>
  </div>

  <!-- Botão de Conta -->
  <button 
    mat-icon-button 
    [matMenuTriggerFor]="personMenu" 
    class="example-icon"
    aria-label="Example icon-button with settings icon">
    <mat-icon>person</mat-icon>
  </button>

  <!-- Menu de Configurações -->
  <mat-menu #personMenu="matMenu">
    <button 
      mat-menu-item 
      (click)="irParaConta()" 
      class="flex items-center space-x-2">
      <mat-icon>person</mat-icon>
      <span>Minha Conta</span>
    </button>
  </mat-menu>
</mat-toolbar>

<!-- Sidebar -->
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <h1 class="font-normal">Left Sidebar</h1>
  <button 
    pButton 
    type="button" 
    (click)="visibleSidebar1 = false" 
    label="Save" 
    class="bg-green-500 text-white rounded px-4 py-2 mt-2">
  </button>
  <button 
    pButton 
    type="button" 
    (click)="visibleSidebar1 = false" 
    label="Cancel" 
    class="bg-gray-500 text-white rounded px-4 py-2 mt-2 ml-2">
  </button>
</p-sidebar>

<!-- Outlet -->
<div class="outlet sm:p-2">
  <router-outlet></router-outlet>
</div>
