<div class="button-container">
  <button mat-raised-button color="primary" style="width: 100%; border-radius: 2px; background-color: green;"
    (click)="irParaNewCategorias()">
    <mat-icon>add</mat-icon>
    Adicionar Categoria
  </button>
</div>
<table class="tabela-produtos">
  <thead>
    <tr>
      <th style="width: 15%;">ID</th>
      <th style="width: 70%;">Nome</th>
      <th style="width: 15%;">Editar</th>
    </tr>
  </thead>
  <tbody>
    @for(categoria of categorias; track categoria.id){
    <tr>
      <td>{{ categoria.id }}</td>
      <td>{{ categoria.nome }}</td>
      <td><button mat-icon-button (click)="editarCategorias(categoria.id)">
          <mat-icon>edit</mat-icon>
        </button></td>

    </tr>
    }

  </tbody>
</table>
