<div class="button-container">
  <button mat-raised-button color="primary" style="width: 100%; border-radius: 2px; background-color: green;"
    (click)="irParaNewCategorias()">
    <mat-icon>add</mat-icon>
    Adicionar Categoria
  </button>
</div>
<table class="tabela-produtos">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th>Quantidade em Estoque</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    @for(produto of produtos; track produto.id){
    <tr>
      <td>{{ produto.id }}</td>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.preco}}</td>
      <td>{{ produto.categoria }}</td>
      <td>{{ produto.quantidadeEstoque }}</td>
      <td><button mat-icon-button (click)="editarCategorias(produto.id)">
          <mat-icon>edit</mat-icon>
        </button></td>

    </tr>
    }

  </tbody>
</table>
