<div class="product-card bg-white rounded-lg shadow-md p-4 flex flex-col items-center justify-between">
  <!-- Imagem do Produto -->
  <div class="image mb-4">
    <img [src]="imageUrl" [alt]="title" class="imagem object-cover w-56 h-64">
  </div>

  <!-- Título do Produto -->
  <div class="title text-center text-xl font-bold bg-gray-200 py-1 px-2 rounded w-11/12 mb-2">
    {{ title }}
  </div>

  <!-- Preço do Produto -->
  <div class="price text-lg font-semibold text-gray-700">
    R$ {{ price }}
  </div>
</div>
