<div class="button-container">
  <button mat-raised-button color="primary" style="width: 100%; border-radius: 2px; background-color: green;"
    (click)="irParaNewPagamentos()">
    <mat-icon>add</mat-icon>
    Adicionar Pagamento
  </button>
</div>
<table class="tabela-produtos">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente</th>
      <th>Status</th>
      <th>ValorTotal</th>
      <th>Valor Pago</th>
      <th>Pendente</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    @for(pagamento of pagamentos; track pagamento.id){
    <tr>
      <td>{{ pagamento.id }}</td>
      <td>{{ pagamento.cliente }}</td>
      <td>{{ pagamento.status}}</td>
      <td>{{ pagamento.ValorTotal }}</td>
      <td>{{ pagamento.ValorPago }}</td>
      <td>{{ pagamento.ValorFaltando }}</td>
      <td><button mat-icon-button (click)="editarPagamentos(pagamento.id)">
          <mat-icon>edit</mat-icon>
        </button></td>

    </tr>
    }

  </tbody>
</table>
