
table {
  background-color: #b0b5cc;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #5f5e5e;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
