<div class="button-container">
  <button mat-raised-button color="primary" style="width: 100%; border-radius: 2px; background-color: green;"
    (click)="irParaNewCliente()">
    <mat-icon>add</mat-icon>
    Adicionar Cliente
  </button>
</div>
<table class="tabela-clientes">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Cidade</th>
      <th>CNPJ</th>
      <th>Ultima Compra</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    @for(cliente of clientes; track cliente.id){
    <tr>
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.cidade}}</td>
      <td>{{ cliente.cnpj }}</td>
      <td>{{ cliente.ultimaCompra }}</td>
      <td><button mat-icon-button (click)="editarCliente(cliente.id)">
          <mat-icon>edit</mat-icon>
        </button></td>

    </tr>
    }

  </tbody>
</table>
