<div class="button-container mb-4">
  <button class="w-full bg-green-700 hover:bg-green-800 text-white py-2 px-4 rounded flex items-center justify-center" 
    (click)="irParaNewCliente()">
    <mat-icon class="mr-2">add</mat-icon>
    <span>Adicionar Cliente</span>
  </button>
</div>

<div class="overflow-x-auto">
  <table class="min-w-full bg-gray-100 border border-gray-300 rounded-lg">
    <thead>
      <tr class="bg-gray-200 text-gray-700 text-left">
        <th class="py-2 px-4 border-b w-1/12">ID</th>
        <th class="py-2 px-4 border-b w-2/12">Nome Empresa</th>
        <th class="py-2 px-4 border-b w-2/12">CNPJ</th>
        <th class="py-2 px-4 border-b w-2/12">Nome Cliente</th>
        <th class="py-2 px-4 border-b w-2/12">CPF Cliente</th>
        <th class="py-2 px-4 border-b w-2/12">Cidade</th>
        <th class="py-2 px-4 border-b w-3/12">Endereço</th>
        <th class="py-2 px-4 border-b w-1/12">Editar</th>
      </tr>
    </thead>
    <tbody>
      @for (cliente of clientes; track $index) {
      <tr class="bg-white border-b">
        <td class="py-2 px-4 w-1/12 text-left">{{cliente.id}}</td>
        <td class="py-2 px-4 w-2/12 text-left">{{cliente.nomeEmpresa}}</td>
        <td class="py-2 px-4 w-2/12 text-left">{{cliente.cnpj}}</td>
        <td class="py-2 px-4 w-2/12 text-left">{{cliente.nomeCliente}}</td>
        <td class="py-2 px-4 w-2/12 text-left">{{cliente.cpfCliente}}</td>
        <td class="py-2 px-4 w-2/12 text-left">{{cliente.cidade!.nome}} - {{cliente.cidade!.estado}}</td>
        <td class="py-2 px-4 w-3/12 text-left">{{cliente.endereco}}</td>
        <td class="py-2 px-4 w-1/12 text-left">
          <button class="text-gray-500 hover:text-gray-700">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="flex justify-end mt-2">
    <mat-paginator
      class="bg-white rounded-lg shadow-md p-2"
      [pageSizeOptions]="[10, 20, 30, 40, 80]"
      [pageSize]="pageSize"
      [length]="totalRecords"
      (page)="paginar($event)">
    </mat-paginator>
  </div>
</div>
