<!-- cliente.component.html -->
<div class="max-w-lg mx-auto bg-gray-800 shadow-md rounded-lg p-8 mt-6">
  <h2 class="text-2xl font-semibold text-white mb-4">Cadastrar Cliente</h2>
  
  <form #clienteForm="ngForm" class="space-y-4">
    
    <div class="form-field">
      <label for="nomeEmpresa" class="block text-sm font-medium text-gray-300">Nome da Empresa:</label>
      <input type="text" id="nomeEmpresa" name="nomeEmpresa" [(ngModel)]="cliente!.nomeEmpresa!" required class="mt-1 block w-full p-2 border border-gray-600 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-700 text-white sm:text-sm">
    </div>
    
    <div class="form-field">
      <label for="cnpj" class="block text-sm font-medium text-gray-300">CNPJ:</label>
      <input type="text" id="cnpj" name="cnpj" [(ngModel)]="cliente!.cnpj!" required class="mt-1 block w-full p-2 border border-gray-600 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-700 text-white sm:text-sm">
    </div>
    
    <div class="form-field">
      <label for="nomeCliente" class="block text-sm font-medium text-gray-300">Nome do Cliente:</label>
      <input type="text" id="nomeCliente" name="nomeCliente" [(ngModel)]="cliente!.nomeCliente!" required class="mt-1 block w-full p-2 border border-gray-600 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-700 text-white sm:text-sm">
    </div>

    <div class="form-field">
      <label for="cpfCliente" class="block text-sm font-medium text-gray-300">CPF do Cliente:</label>
      <input type="text" id="cpfCliente" name="cpfCliente" [(ngModel)]="cliente!.cpfCliente!" required class="mt-1 block w-full p-2 border border-gray-600 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-700 text-white sm:text-sm">
    </div>
    
    <div class="form-field">
      <label for="idCidade" class="block text-sm font-medium text-gray-300">Cidade:</label>
      <select id="idCidade" name="idCidade" [(ngModel)]="cliente!.idCidade!" required class="mt-1 block w-full p-2 border border-gray-600 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-700 text-white sm:text-sm">
        <option *ngFor="let cidade of cidades" [value]="cidade.id">{{ cidade.nome }}</option>
      </select>
    </div>

    <div class="form-field">
      <label for="endereco" class="block text-sm font-medium text-gray-300">Endereço:</label>
      <input type="text" id="endereco" name="endereco" [(ngModel)]="cliente!.endereco!" required class="mt-1 block w-full p-2 border border-gray-600 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-700 text-white sm:text-sm">
    </div>
    
    <div class="flex justify-end space-x-4">
      <button mat-flat-button color="warn" (click)="cancelar()" class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600">
        Cancelar
      </button>
      <button mat-flat-button color="primary" type="submit" (click)="adicionarCliente()" class="px-4 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600">
        Cadastrar
      </button>
    </div>
  </form>
</div>
