.chart {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  border: 1px solid #242424;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: #f9f9f9;
  width: 130px;
  border-radius: 5%;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.funcoes-principais{
  /* background-color: #999999; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.separador {
  width: 100%;
  height: 2px;
  background-color: #58579e;
  margin: 20px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os cards no container */
  gap: 10px; /* Espaço entre os cards */
}

.example-card {
  cursor: pointer;
  flex: 0 1 calc(34%); /* Três cards por linha em desktop */
  margin: 20px 20px;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-details {
  flex: 1;
}

.card-image img {
  padding: 10px;
  width: 150px; /* Largura fixa da imagem */
  height: auto; /* Altura automática para manter a proporção */
  border-radius: 4px;
}

@media (min-width: 1600px){
  .example-card {
    flex: 0 1 calc(29%); /* Três cards por linha em desktop */
  }
}

@media (min-width: 2000px){
  .example-card {
    flex: 0 1 calc(21%); /* Três cards por linha em desktop */
  }
}

@media (min-width: 2500px){
  .example-card {
    flex: 0 1 calc(16%); /* Três cards por linha em desktop */
  }
}
@media (min-width: 3000px){
  .example-card {
    flex: 0 1 calc(14%); /* Três cards por linha em desktop */
  }
}

/* Media query para celulares (dispositivos com largura até 480px) */
@media (max-width: 1000px) {
  .card {
    margin: 5px;
    padding: 5px;
    width: 120px;
  }
  .example-card {
    flex: 0 1 calc(40%); /* Um card por linha em celulares */
  }

  .card-content {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    flex-direction: column; /* Empilha os detalhes do card verticalmente em celulares */
  }
}
@media (max-width: 600px) {
  .card {
    margin: 5px;
    padding: 5px;
    width: 120px;
  }
  .example-card {
    flex: 0 1 calc(90%); /* Um card por linha em celulares */
  }

}

@media (max-width: 450px) {
  .card {
    margin: 5px;
    padding: 5px;
    width: 100px;
  }
}
@media (max-width: 300px) {
  .card {
    margin: 3px;
    padding: 0px;
    width: 80px;
  }
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .telas-principais .card {
    flex-basis: calc(50% - 20px); /* 2 por linha em telas menores */
  }
}
