<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-4xl sm:mx-auto"> <!-- Aumentei a largura máxima -->
    <div class="relative p-4 py-10 bg-white mx-8 shadow rounded-3xl sm:p-10 md:p-10">
      <div class="max-w-9xl mx-auto">
        <div class="flex items-center space-x-5">
          <div class="h-14 w-14 bg-yellow-200 rounded-full flex justify-center items-center text-yellow-500 text-2xl font-mono">i</div>
          <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
            <h2 class="leading-relaxed">Adicionar Produto</h2>
            <p class="text-sm text-gray-500 font-normal leading-relaxed">Preencha os detalhes do novo produto</p>
          </div>
        </div>
        <form [formGroup]="productForm!" (ngSubmit)="onSubmit()" class="divide-y divide-gray-200 mt-6">
          <div class="grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 gap-6"> <!-- Grid para duas colunas -->

            <div class="flex flex-col">
              <label class="leading-loose">Nome</label>
              <input type="text" formControlName="nome" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="Nome do produto">
            </div>

            <div class="flex flex-col">
              <label class="leading-loose">Nome Longo</label>
              <input type="text" formControlName="nomeLongo" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="Nome longo do produto">
            </div>

            <div class="flex flex-col md:col-span-2"> <!-- Ocupa duas colunas -->
              <label class="leading-loose">Descrição</label>
              <textarea formControlName="descricao" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="Descrição do produto"></textarea>
            </div>

            <div class="flex flex-col">
              <label class="leading-loose">Estoque</label>
              <input type="number" formControlName="estoque" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="Quantidade em estoque">
            </div>

            <div class="flex flex-col">
              <label class="leading-loose">Estoque Mínimo</label>
              <input type="number" formControlName="estoqueMinimo" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="Estoque mínimo">
            </div>

            <div class="flex flex-col">
              <label class="leading-loose">Valor de Compra</label>
              <input type="number" formControlName="valorCompra" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="Valor de compra">
            </div>

            <div class="flex flex-col">
              <label class="leading-loose">Preço de Venda</label>
              <input type="number" formControlName="preco" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="Preço de venda">
            </div>

            <div class="flex flex-col">
              <label class="leading-loose">ID do Fornecedor</label>
              <input type="number" formControlName="idFornecedor" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="ID do fornecedor">
            </div>

            <div class="flex flex-col">
              <label class="leading-loose">ID da Marca</label>
              <input type="number" formControlName="idMarca" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="ID da marca">
            </div>

            <div class="flex flex-col">
              <label class="leading-loose">Código</label>
              <input type="text" formControlName="codigo" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="Código do produto">
            </div>

            <div class="flex flex-col">
              <label class="leading-loose">Código de Barras</label>
              <input type="text" formControlName="codigoBarras" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md text-gray-600" placeholder="Código de barras">
            </div>

            <div class="flex flex-col md:col-span-2 p-2"> <!-- Ocupa duas colunas -->
              <label class="leading-loose">Categorias</label>
              <div class="mt-2 grid grid-cols-2 md:grid-cols-3 gap-4">
                <div *ngFor="let category of categories" class="flex items-start">
                  <div class="flex items-center h-5">
                    <input [id]="'category-' + category.id" type="checkbox" (change)="onCategoryChange(category.id!, true)" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                  </div>
                  <div class="ml-3 text-sm">
                    <label [for]="'category-' + category.id" class="font-medium text-gray-700">{{ category.nome }}</label>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="pt-4 flex items-center space-x-4">
            <button (click)="voltarPagina()" type="button" class="flex justify-center items-center w-full text-gray-900 px-4 py-3 rounded-md focus:outline-none">
              <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg> Cancelar
            </button>
            <button type="submit" class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">Criar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
