<!-- new-categoria.component.html -->
<div class="max-w-lg mx-auto bg-gray-800 shadow-md rounded-lg p-8 mt-6">
  <h2 class="text-2xl font-semibold text-white mb-4">Cadastrar Categoria</h2>
  
  <form #categoriaForm="ngForm" class="space-y-4">
    
    <div class="form-field">
      <label for="nome" class="block text-sm font-medium text-gray-300">Nome da Categoria:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="categoria.nome" required class="mt-1 block w-full p-2 border border-gray-600 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-700 text-white sm:text-sm">
    </div>
    
    <div class="flex justify-end space-x-4">
      <button mat-flat-button color="warn" (click)="cancelar()" class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600">
        Cancelar
      </button>
      <button mat-flat-button color="primary" type="submit" (click)="adicionarCategoria()" class="px-4 py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-600">
        Cadastrar
      </button>
    </div>
  </form>
</div>
